# if you want block unauthorized access
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=

N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
N8N_PORT=5678
N8N_PROTOCOL=https
NODE_ENV=production
WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
GENERIC_TIMEZONE=${GENERIC_TIMEZONE}

N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST= #SMTP_HOST
N8N_SMTP_PORT= #SMTP_PORT
N8N_SMTP_USER= #SMTP_USER
N8N_SMTP_PASS= #SMTP_PASSWORD
N8N_SMTP_SENDER= #SENDER_EMAIL
N8N_SMTP_SSL=true
